* {
    margin: 0;
    padding: 0;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* To make sure users don't copy text from the quiz */
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}

Body{
    background:url("../foto/background.jpg")  no-repeat ;
    background-size: cover;
    height: auto;
    width: auto;
    margin: 30px auto;
    padding: 2px 50px 50px 50px;

}
main
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
table
{
    grid-column: 2/2;
    width :780px;
    height: 670px;
    justify-self: center;
    background: blue;
}

header > h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: 0px 0px 30px red;
    background-color: black ;
    color: whitesmoke;
    border-radius: 40px;
    margin: 20px 10px 20px 10px;
    padding: 2px 0px;
}
#begin_spel
{
    grid-column: 3/3;
    padding: 12px 0px 20px 0;
    margin: 200px 0px 20px 0;
    justify-self: center;
    font-size: 60px;
    background-color: orangered;
    width: 250px;
    height: 100px;
    border: 1.5px solid #339cff;
    border-radius: 75px;
    color: ghostwhite;
}


.click_button {
    height: 42px;
    width: 42px;
    border-radius: 24px;
    background-color: rgba(255,0,0,1);
    cursor: pointer;
}

.piece {
    height: 100px;
    width: 100px;
    display:block;
    border-radius: 70px;
    margin-left: auto;
    margin-right: auto;
}

.player0 {
    background-color: whitesmoke;
}


.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}

#winner
{
    height: 50px;
    border: 10px solid transparent;
    border-radius: 30px;
    animation-name: design;
    animation-duration: 14s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    @keyframes design
    {
        0%  {background-color: red;}
        15% {background-color: orange;}
        30% {background-color: yellow;}
        45% {background-color: green;}
        60% {background-color: lightblue;}
        75% {background-color: blue;}
        90% {background-color: blueviolet;}
        100%  {background-color: red;}
    }


hr {
    border: 2px solid #8c8c8c;
}

#game_info
{
    justify-self: left;
    font-size: 60px;

}


#school {

    float: right;
    font-size: 30px;
    padding-right: 30px;
}

#copyright {

    float: left;
    padding-left: 30px;
    font-size: 30px;
}

footer
{
    color:whitesmoke;
    background: black;
    height: 30px;
    border-radius: 40px;
    box-shadow: 5px 7px 5px 5px black;
}
